body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-decoration: none;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}
.main {
	height: 100vh;
	background: url(../public/imgs/main-bg.png) no-repeat center;
	display: flex;
	justify-content: center;
	align-items: center;
}
.fildGame {
	flex-basis: 70%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.fildBank {
	flex-basis: 30%;
}
