.header {
	width: 100%;
	height: 100px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgb(12, 20, 29);
	box-shadow: 0 15px 58px 0 rgba(0, 0, 128, 0.8),
		0 5px 14px 0 rgba(0, 56, 136, 0.2);
	position: absolute;
	top: 0;
	margin-bottom: 110px;
}

.nav {
	width: 50%;
	margin: 0 auto;
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	a {
		text-decoration: none;
		color: #fff;
		font-size: 20px;
		margin: 10px;
	}
	.wrapBtnReg {
		width: 40%;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.reg {
		padding: 15px 30px;
		border-radius: 10px;
		background: linear-gradient(to right, red, #a30202);
		color: #fff;
		transition: all 0.2s ease-in;
		font-size: 20px;
		&:hover {
			cursor: pointer;
			background: linear-gradient(to right, #a30202, #730101);
			transform: scale(1.1);
		}
	}
}
.zero {
	width: 100px;
}
.balans {
	color: #fff;
	font-size: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: max-content;
	padding: 10px 15px;
	.imgBalans {
		width: 45px;
		height: 45px;
		margin-right: 10px;
	}
}
.linkImg {
	cursor: pointer;
	width: 40px;
	height: 40px;
	transition: all 0.2s ease;
	&:hover {
		transform: scale(1.2);
	}
}
.user {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: max-content;
	height: 45px;
	padding: 10px 15px;
	border-radius: 30px;
	transition: all 0.2s ease-in-out;
	.userText {
		margin-right: 20px;
	}
	&:hover {
		border: 2px solid blue;
	}
	.imgUser {
		border-radius: 50%;
		width: 45px;
	}
}
.balans {
	position: relative;
	left: 0;
	margin-right: 20px;
}
.imgOut {
	position: absolute;
	right: -60px;
	cursor: pointer;
	transition: all 0.2s ease;
	&:hover {
		transform: scale(1.1);
	}
}
.navText {
	font-size: 25px;
	color: #fff;
}
#text {
	text-align: center;
	border: 4px solid #1086e8;
	background-color: #000;
	padding: 5px 10px;
	width: 200px;
	border-radius: 20px;
	animation: border-flicker 2s linear infinite;
}

.h1 {
	color: #ff00e6;
	font-family: 'Raleway', sans-serif;
	font-size: 40px;
	animation: text-flicker 3s linear infinite;
	margin: 0;
}

#offset {
	animation: letter-flicker 2s linear infinite;
}

@keyframes text-flicker {
	0% {
		opacity: 0.1;
		text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
	}

	2% {
		opacity: 1;
		text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
	}
	8% {
		opacity: 0.1;
		text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
	}
	9% {
		opacity: 1;
		text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
	}
	12% {
		opacity: 0.1;
		text-shadow: 0px 0px rgba(242, 22, 22, 1);
	}
	20% {
		opacity: 1;
		text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
	}
	25% {
		opacity: 0.3;
		text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
	}
	30% {
		opacity: 1;
		text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
	}

	70% {
		opacity: 0.7;
		text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
	}

	72% {
		opacity: 0.2;
		text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
	}

	77% {
		opacity: 0.9;
		text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
	}
	100% {
		opacity: 0.9;
		text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
	}
}

@keyframes border-flicker {
	0% {
		opacity: 0.1;
		-webkit-box-shadow: 0px 0px 78px 4px rgba(16, 134, 232, 0.73);
		-moz-box-shadow: 0px 0px 78px 4px rgba(16, 134, 232, 0.73);
		box-shadow: 0px 0px 78px 4px rgba(16, 134, 232, 0.73);
	}
	2% {
		opacity: 1;
		-webkit-box-shadow: 0px 0px 78px 4px rgba(16, 134, 232, 0.73);
		-moz-box-shadow: 0px 0px 78px 4px rgba(16, 134, 232, 0.73);
		box-shadow: 0px 0px 78px 4px rgba(16, 134, 232, 0.73);
	}
	4% {
		opacity: 0.1;
		-webkit-box-shadow: 0px 0px 78px 4px rgba(16, 134, 232, 0.73);
		-moz-box-shadow: 0px 0px 78px 4px rgba(16, 134, 232, 0.73);
		box-shadow: 0px 0px 78px 4px rgba(16, 134, 232, 0.73);
	}

	8% {
		opacity: 1;
		-webkit-box-shadow: 0px 0px 78px 4px rgba(16, 134, 232, 0.73);
		-moz-box-shadow: 0px 0px 78px 4px rgba(16, 134, 232, 0.73);
		box-shadow: 0px 0px 78px 4px rgba(16, 134, 232, 0.73);
	}
	70% {
		opacity: 0.7;
		-webkit-box-shadow: 0px 0px 78px 4px rgba(16, 134, 232, 0.73);
		-moz-box-shadow: 0px 0px 78px 4px rgba(16, 134, 232, 0.73);
		box-shadow: 0px 0px 78px 4px rgba(16, 134, 232, 0.73);
	}
	100% {
		opacity: 1;
		-webkit-box-shadow: 0px 0px 78px 4px rgba(16, 134, 232, 0.73);
		-moz-box-shadow: 0px 0px 78px 4px rgba(16, 134, 232, 0.73);
		box-shadow: 0px 0px 78px 4px rgba(16, 134, 232, 0.73);
	}
}

@keyframes letter-flicker {
	0% {
		opacity: 0.1;
		text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
	}
	2% {
		opacity: 0.1;
		text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
	}
	4% {
		opacity: 1;
		text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
	}

	19% {
		opacity: 1;
		text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
	}
	21% {
		opacity: 0.1;
		text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
	}
	23% {
		opacity: 1;
		text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
	}

	80% {
		opacity: 1;
		text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
	}
	83% {
		opacity: 0.4;
		text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
	}
	87% {
		opacity: 1;
		text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
	}
}
